
$body-bg: rgb(80, 72, 72);
$body-color: rgb(235, 217, 217);
$footer-bg:#343a40 ;
$jumbotron-bg:#504848;
$card-bg: rgb(80, 72, 72);
$btn-primary-color:#13181f;

.footer {
    background-color: $footer-bg;
    padding:15px;
    margin-top:10px;
}

.intro {
    margin-top:20px;
}

@import "node_modules/bootstrap/scss/bootstrap";

.btn-primary {
    background-color: $btn-primary-color;
}